@import "tailwindcss";

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}


@font-face {
  font-family: 'Helvetica-Neue'; /* Choose a name for your font */
  src: url('./fonts/HelveticaNeueRoman.otf') format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica-Neue'; /* Choose a name for your font */
  src: url('./fonts/HelveticaNeueMedium.otf') format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica-Neue'; /* Choose a name for your font */
  src: url('./fonts/HelveticaNeueBold.otf') format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica-Neue'; /* Choose a name for your font */
  src: url('./fonts/HelveticaNeueHeavy.otf') format("opentype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica-Neue'; /* Choose a name for your font */
  src: url('./fonts/HelveticaNeueLight.otf') format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica-Neue'; /* Choose a name for your font */
  src: url('./fonts/HelveticaNeueThin.otf') format("opentype");
  font-weight: 300;
  font-style: normal;
}

*{
  font-family: Helvetica-Neue;
  font-weight: 500;
}

.font-med{
  font-family: Helvetica-Neue;
  font-weight: 600;
}

.font-bold{
  font-family: Helvetica-Neue;
  font-weight: 700;
}

.font-light{
  font-family: Helvetica-Neue;
  font-weight: 400;
}

.grid-bg {
  position: relative;
  background-color: #0b0b0b; /* your page bg */
  background-image:
    linear-gradient(rgba(255,255,255,0.04) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.04) 1px, transparent 1px);
  background-size: 40px 40px;
}

.grid-bg-1 {
  position: relative;
  background-color: #0d0d0d; /* your page bg */
  background-image:
    linear-gradient(rgba(255,255,255,0.04) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.04) 1px, transparent 1px);
  background-size: 40px 40px;
}

.bg-footer{
    background-color: #0b0b0b;
}

.white-logo {
  filter: brightness(0) invert(1);
  opacity: 0.85;
}

html, body {
  background-color: #09090b; /* zinc-950 */
}